{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid dashboard-content ">
    <div class="card-header p-4">

        <div class="float-center"><h3 class="mb-0">Описание проекта</h3>
            <p><br/><br/></p>
            Информационно-аналитическая платформа для анализа мер социальной поддержки «SocialData»
        </div>
    </div>
    <div class="float-center" style="background-size: cover">
        <!-- Фото -->
        <img src="{% static "sc1.png" %}" width="100%" >
    </div>
</div>
</div>
{% endblock content %}