{% extends "base.html" %}
{% block content %}
<div class="container-fluid dashboard-content ">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Таблицы</h2>
                <p class="pageheader-text">Описание карты</p>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->

    <div class="row">
        <!-- ============================================================== -->
        <!-- basic table  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">{{ big_table.name }}</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first">
                            <thead >
                                <tr class="border-0">
                                    <th>Женщины</th>
                                    <th>Возраст</th>
                                    <th>Мужчины</th>
                                </tr>
                            </thead>
                            {% for line in data %}
                                <tr>
                                    <td>Всего {{ line.woman.all }} чел., в том числе получает выплат {{ line.woman.with_payments }} чел., от общего числа {{ line.woman.percent }} </td>
                                    <td>{{ line.age }}</td>
                                    <td>Всего {{ line.men.all }} чел., в том числе получает выплат {{ line.men.with_payments }} чел., от общего числа {{ line.men.percent }} </td>
                                </tr>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end basic table  -->
        <!-- ============================================================== -->
    </div>
</div>
{% endblock content %}