<!doctype html>
<html lang="ru">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link href="{% static "assets/vendor/fonts/circular-std/style.css"  %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/libs/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/charts/chartist-bundle/chartist.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/charts/morris-bundle/morris.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/charts/c3charts/c3.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendor/fonts/flag-icon-css/flag-icon.min.css" %}">
    <title>{{ tittle }}</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">Мониторинг</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title">События</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-2.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-3.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-4.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static "assets/images/avatar-5.jpg" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            {% if user.is_authenticated %}
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "assets/images/avatar-1.jpg" %}" alt="" class="user-avatar-md rounded-circle"></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{ user.username }}</h5>
                                </div>
                                    <a class="dropdown-item" href="{% url 'logout' %}?next=/"><i class="fas fa-power-off mr-2"></i>Выйти</a>
                                </div>
                            {% else %}
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "assets/images/avatar-1.jpg" %}" alt="" class="user-avatar-md rounded-circle"></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">Вход не выполнен</h5>
                                </div>
                                    <a class="dropdown-item" href="{% url 'login' %}?next=/"><i class="fas fa-power-off mr-2"></i>Войти</a>
                                </div>
                            {% endif %}




                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <!-- ============================================================== -->
        <!-- Навигация -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="static/#">{{ name }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/table"><i class="fas fa-fw fa-table"></i>Таблицы</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/graph"><i class="fas fa-fw fa-chart-pie"></i>Графики</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/map"><i class="fas fa-fw fa-map-marker-alt"></i>Карта</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/app"><i class="fa fa-fw fa-rocket"></i>Анализ</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


        <div class="dashboard-wrapper">
            {% block content %}

            {% endblock content %}
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved.<a href="static/https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="static/javascript: void(0);">О проекте</a>
                                <a href="static/javascript: void(0);">Контакты</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static "assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
    <!-- slimscroll js -->
    <script src="{% static "assets/vendor/slimscroll/jquery.slimscroll.js" %}"></script>
    <!-- main js -->
    <script src="{% static "assets/libs/js/main-js.js" %}"></script>
    <!-- chart chartist js -->
    <script src="{% static "assets/vendor/charts/chartist-bundle/chartist.min.js" %}"></script>
    <!-- sparkline js -->
    <script src="{% static "assets/vendor/charts/sparkline/jquery.sparkline.js" %}"></script>
    <!-- morris js -->
    <script src="{% static "assets/vendor/charts/morris-bundle/raphael.min.js" %}"></script>
    <script src="{% static "assets/vendor/charts/morris-bundle/morris.js" %}"></script>
    <!-- chart c3 js -->
    <script src="{% static "assets/vendor/charts/c3charts/c3.min.js" %}"></script>
    <script src="{% static "assets/vendor/charts/c3charts/d3-5.4.0.min.js" %}"></script>
    <script src="{% static "assets/vendor/charts/c3charts/C3chartjs.js" %}"></script>
</body>
</html>