{% extends "base.html" %}
{% block content %}
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">{{ name }}</h2>
                    <p class="pageheader-text">Описание страницы</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Блок верхних карточек  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
             <div class="row">
                <!-- Возраст и выпляты-->
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Женщины</h5>
                        {{ plot_lines0|safe }}
                    </div>
                </div>
                 <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Мужчины</h5>
                        {{ plot_lines1|safe }}
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        {{ histogram|safe }}
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Полученны выплаты</h5>
                        {{ chart_doh|safe }}
                    </div>
                </div>
            </div>
            <!-- Окончание блока -->

            <!-- ============================================================== -->
        <!-- Блок нижних карточек  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
             <div class="row">
                <!-- Доход-->
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Доходы. Женщины</h5>
                        {{ dohod0|safe }}
                    </div>
                </div>
                 <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Доходы. Мужчины</h5>
                        {{ dohod1|safe }}
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        {{ histogram|safe }}
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Доходы</h5>
                        {{ chart_doh|safe }}
                    </div>
                </div>
            </div>
            <!-- Окончание блока -->



            <!-- Группа из 2-х графиков в центре -->
            <div class="row">
                <!-- Чарт в центре слева -->
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        {{ plot_chart1|safe }}
                    </div>
                </div>

                <!-- График линии в центре справа-->
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        {{ plot_lines1|safe }}
                    </div>
                </div>
            </div>

            <!-- Группа из 2-х таблиц внизу -->
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12">
                    <!-- ============================================================== -->
                    <!-- Социальные группы  -->
                    <!-- ============================================================== -->
                    <div class="card">
                        <h5 class="card-header">{{ social.name }}</h5>
                        <div class="card-body p-0">
                            <ul class="traffic-sales list-group list-group-flush">
                                {% for group in social.groups %}
                                <li class="traffic-sales-content list-group-item ">
                                    <span class="traffic-sales-name">{{group.name}}</span>
                                    <span class="traffic-sales-amount">{{group.value}}
                                                    <span class="icon-circle-small icon-box-xs {{group.span}}">
                                                        <i class="fa fa-fw {{group.arrow}}"></i>
                                                    </span>
                                                    <span class="ml-1 {{group.div}}">{{ group.trend }}</span>
                                                </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="static/#" class="btn-primary-link">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end sales traffice source  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- sales traffic country source  -->
                <!-- ============================================================== -->
                <div class="col-xl-4 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">{{ region.name }}</h5>
                        <div class="card-body p-0">
                            <ul class="traffic-sales list-group list-group-flush">
                                {% for group in region.groups %}
                                <li class="traffic-sales-content list-group-item ">
                                    <span class="traffic-sales-name">{{group.name}}</span>
                                    <span class="traffic-sales-amount">{{group.value}}
                                                    <span class="icon-circle-small icon-box-xs {{group.span}}">
                                                        <i class="fa fa-fw {{group.arrow}}"></i>
                                                    </span>
                                                    <span class="ml-1 {{group.div}}">{{ group.trend }}</span>
                                                </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="map/" class="btn-primary-link">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end sales traffice country source  -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
