{% extends "base.html" %}
{% block content %}
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">{{ name }}</h2>
                    <p class="pageheader-text">Описание страницы</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Блок верхних карточек  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
             <div class="row">
                <!-- Возраст и выпляты-->
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Население. Женщины</h5>
                        {{ plot_lines0|safe }}
                    </div>
                </div>
                 <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Население. Мужчины</h5>
                        {{ plot_lines1|safe }}
                    </div>
                </div>

                <!-- Полученные выплаты -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Полученные выплаты</h5>
                        {{ chart_payment|safe }}
                    </div>
                </div>

                <!-- Город село -->
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Получатели. Город</h5>
                        {{ town|safe }}
                    </div>
                </div>
                 <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Получатели. Село</h5>
                        {{ vill|safe }}
                    </div>
                </div>


            </div>
            <!-- Окончание блока -->

            <!-- ============================================================== -->
        <!-- Блок нижних карточек  -->
        <!-- ============================================================== -->
             <div class="row">
                <!-- Доход-->
                 <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Доходы. Женщины-Мужчины (тыс.р)</h5>
                        {{ dohod|safe }}
                    </div>
                </div>

                <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Семья</h5>
                        {{ chart_doh|safe }}
                    </div>
                </div>
            </div>
            <!-- Окончание блока -->
        </div>
    </div>
</div>
{% endblock content %}
